<!-- Dash Template -->
{% extends "world/grid.html" %}

{% block title %}Matrix Grid for {{ Manager.name }}{% endblock %}

{% block sidebar %}
    <div>
    <ul class="nav nav-list">
        <li class="nav-header">Roles</li>
        {% for course in Courses %}
        {% if forloop.first %}    
        <li><a class="active" href="/course/{{ course.id }}/">{{ course.name }}</a></li>
        {% else %}
        <li><a href="/course/{{ course.id }}/">{{ course.name }}</a></li>
        {% endif %}
        {% endfor %}                            
    </ul>
    </div>
{% endblock %}
