{% extends "world/base.html" %}

{% block sidebar %}
    <!--div class="span3">
        <div class="well">
             <ul class="nav nav-list">
                <li class="nav-header">Reminders</li>
                {% for reminder in reminders %}
                {% if forloop.first %}    
                <li><a class="active" href="/event/{{ event.id }}/">{{ reminder.title }}</a></li>
                {% else %}
                <li><a href="/event/{{ event.id }}/">{{ reminder.title }}</a></li>
                {% endif %}
                {% endfor %}                            
            </ul>
        </div>
    </div-->
{% endblock %}

{% block content %}
<div class="span9">
<h4>Events</h4>

<form action="{% url world.views.day year month day %}" method="POST"> {% csrf_token %}

{{ events.management_form }}

{% for entry in events.forms %}
    {{ entry.id }}
    <div class="entry">
        <div class="del">Delete {{ entry.DELETE }}</div>
        <div id="inp1">
            <p>Title: {{ entry.title }}</p>
        </div>
        <p>Remind: {{ entry.remind }}</p>
        {{ entry.body }}
    </div>
{% endfor %}

<input type="submit" value="Save" /> </form>
</div>
{% endblock %}
