{% extends "world/base.html" %}

{% block extrastyle %}
<style>
body {
    padding-top: 5em;  // 60px
    padding-bottom: 4em;  // 40px
}

.sidebar-nav {
    padding: 1.5em 0; // 9px
}

/* 
    Grid hacks
*/
.vertical-text {
    display: inline-block;
    overflow: hidden;
    width: 1.2em;
}
.vertical-text__inner {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.2;

    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);    
}

.vertical-text__inner:after {
    content: "";
    display: block;
    margin: -1.2em 0 100%;
}

table {
    width: 98%;
}

th,td {
    border: 1px solid;
    text-align:center;
    font-weight: normal;
    padding: 0.35em;    
}

tr:first-child th:first-child {
    border: 0;
}

th[scope="row"] {
    font-size: 11px;
    text-align: right;
    background-color: #EEFD84; // #ABB47B;   //#EEFD84;

    max-width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

th[scope="col"] {
    font-size: 12px;
    line-height: 13px;
    background-color: #ddd;
}

td a:link { color: #505050 }
td a.completed:link { color: darkorange }
td a.approved:link { color: darkgreen }
td a.rejected:link { color: darkred }

td a:visited { color: inherit }
td a.completed:visited { color: darkorange }
td a.approved:visited { color: darkgreen }
td a.rejected:visited { color: darkred }

td a:active { color: inherit }
td a.completed:active { color: darkorange }
td a.approved:active { color: darkgreen }
td a.rejected:active { color: darkred }

td a:hover { color: black }
td a.completed:hover { color: orange }
td a.approved:hover { color: green }
td a.rejected:hover { color: red }

.orgnode { 
    border: 0;
}
</style>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">google.load('visualization', '1', {packages: ['orgchart']});</script>
<script>
    
    // {v: 'parent_node', f: 'Parent Node'}
    
    function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
            ['Name', 'Manager', 'Tooltip'],
            ['{{ Manager.name }}'                              , null, '{{ Manager.jobtitle }}'],
            
        {% for employee in Employees %}
            //['{{ employee.name }}', '{{ employee.manager }}', '{{ employee.jobtitle }}'],
            [{v: '{{ employee.name }}', f: '<a href="/?code={{ employee.code }}">{{ employee.name }}</a>' }, '{{ employee.manager }}', '{{ employee.jobtitle }}'],
            
            
        {% endfor %}
        ]);
        
        new google.visualization.OrgChart(document.getElementById('orgchart')).draw(data, {allowHtml: true, nodeClass: 'orgnode'});
          
    }
    
    $(document).ready(function () {

        $(".part").click(function (e){
            e.preventDefault();
            $('ul.nav > li').removeClass('active');
            $('ul.nav > li.i').removeClass('icon-white');
            $(this).parent().addClass('active'); 

            var url = this.href
            $.ajax({
                type : 'GET',
                url  : url,
                cache: false,
                success: function(response) {
                    $("#results").html(response);
                    return false;
                }
            })
            return false;
        });
        
        drawVisualization();

    });
    
    function pageload (a) {
        var url = a.href
        $.ajax({
            type : 'GET',
            url  : url,
            cache: false,
            success: function(response) {
                $("#results").html(response);
                return false;
            }
        })
        return false;    
    }
    </script>
{% endblock %}

{% block title %}Matrix Grid for {{ Manager.name }}{% endblock %}

{% block sidebar %}
    <div class="span11" id='orgchart'></div>
{% endblock %}

{% block content %}
    <!--div class="span3">
        <div class="well">
             <ul class="nav nav-list">
                <li class="nav-header">Roles</li>
                {% for role in Roles %}
                {% if forloop.first %}    
                <li><a class="active" href="/role/{{ role.id }}/">{{ role.name }}</a></li>
                {% else %}
                <li><a href="/role/{{ role.id }}/">{{ role.name }}</a></li>
                {% endif %}
                {% endfor %}                            
            </ul>
        </div>
    </div -->
    <!-- Grid -->
    <div class="span8">
    <table>
        {% for course in Courses %}
        {% if forloop.first %}    
        <tr>
            <th><h4>{{ Manager.name }} ({{ Manager.jobtitle }})</h4></th>
            {% for employee in Employees %}
            <th scope="col">
                <div class="vertical-text">
                    <div class="vertical-text__inner">
                        <a title="{{ employee.name }}" href="/?code={{ employee.code }}">{{ employee.name }}</a>
                    </div>
                </div>
            </th>
            {% endfor %}
        </tr>
        {% endif %}    

        <tr>
            <th scope="row"><a title="{{ course.name }}" href="/admin/world/course/{{ course.id }}/">{{ course.name }}</a></th>
            
            {% for employee in Employees %}
                {% block grid %}
                {% if course.code in employee.completed %}
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle completed" title="{{employee.name}} ({{ course.name }})" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-trophy"></i></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left"> 
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=view"><i class="fa fa-trophy pull-right"></i>View</a></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=print"><i class="fa fa-print pull-right"></i>Print</a></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=visit"><i class="fa fa-group pull-right"></i>Interview</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=completed"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                        </ul>
                    </div>
                </td> 
                {% else %}
                    {% if course.code in employee.failed %}
                    <td>
                        <div class="dropdown">
                            <a class="dropdown-toggle rejected" title="{{employee.name}} ({{ course.name }})" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-warning"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=visit"><i class="fa fa-group pull-right"></i>Interview</a></li>
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=book"><i class="fa fa-calendar pull-right"></i>Rebook</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=fail"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                            </ul>
                        </div>
                    </td> 
                    {% else %}
                        {% if course.code in employee.cancelled %}
                        <td>
                            <div class="dropdown">
                                <a class="dropdown-toggle rejected" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-trash-o"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=add"><i class="fa fa-envelope-o pull-right"></i>Add Request</a></li>
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=approve"><i class="fa fa-thumbs-up pull-right"></i>Approve</a></li>
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=reject"><i class="fa fa-thumbs-down pull-right"></i>Reject</a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=cancelled"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                </ul>
                            </div>                        
                        </td>
                        {% else %}
                            {% if course.code in employee.booked %}
                            <td>
                                <div class="dropdown">
                                    <a class="dropdown-toggle approved" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-clock-o"></i></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=record&status=completed"><i class="fa fa-trophy pull-right"></i>Completed</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=record&status=failed"><i class="fa fa-warning pull-right"></i>Failed</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=record&status=absent"><i class="fa fa-user pull-right"></i>Absent</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=book"><i class="fa fa-calendar pull-right"></i>Rebook</a></li>
                                        <li class="divider"></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=booked"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                                    </ul>
                                </div>
                            </td> 
                            {% else %}
                                {% if course.code in employee.rejected %}
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle rejected" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-thumbs-down"></i></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=approve"><i class="fa fa-thumbs-up pull-right"></i>Approve</a></li>
                                            <li class="divider"></li>
                                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=rejected"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                                        </ul>
                                    </div>
                                </td> 
                                {% else %}
                                    {% if course.code in employee.approved %}
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle approved" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=book"><i class="fa fa-clock-o pull-right"></i>Book</a></li>
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=reject"><i class="fa fa-thumbs-down pull-right"></i>Reject</a></li>
                                                <li class="divider"></li>
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=approved"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                                            </ul>
                                        </div>
                                    </td> 
                                    {% else %}
                                        {% if course.code in employee.courses %}
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-envelope-o"></i></a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=approve"><i class="fa fa-thumbs-up pull-right"></i>Approve</a></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=reject"><i class="fa fa-thumbs-down pull-right"></i>Reject</a></li>
                                                    <li class="divider"></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=add"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                                                </ul>
                                            </div>
                                        </td> 
                                        {% else %}
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="icon-gap"></i>&nbsp;</a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}?action=add"><i class="fa fa-envelope-o pull-right"></i>Add Request</a></li>
                                                    <li class="divider"></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                                </ul>
                                            </div>
                                        </td> 
                                        {% endif %}
                                    {% endif %}
                                {% endif %}                            
                            {% endif %}                            
                        {% endif %}                            
                    {% endif %}
                {% endif %}
                {% endblock %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
    <!-- Grid -->
{% endblock %}
