{% extends "world/base.html" %}
{% block extrastyle %}
.vertical-text {
	display: inline-block;
	overflow: hidden;
	width: 1.2em;
}
.vertical-text__inner {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.2;

    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);    
}
/* This element stretches the parent to be square by using the mechanics of vertical margins  */
.vertical-text__inner:after {
	content: "";
	display: block;
	margin: -1.2em 0 100%;
}

table {
	margin-top: 2em;
}
th,td {
	border: 1px solid;
	text-align:center;
	font-weight: normal;
	padding: 0.5em;
}

tr:first-child th:first-child {
    border: 0;
}

table {
    margin-left: 2em;
}

th[scope="row"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;

    text-align: right;

    color: #333333;
    background-color: #EEFD84;
}

th[scope="col"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: #333333;
    background-color: #ddd;
}

td:first-child td {
}
{% endblock %}

{% block title %}Matrix Grid for {{ role.name }}{% endblock %}

{% block sidebar %}
    <div>
        <div class="well">
           <h3>Roles<h3>
            <form class="navbar-form" method="post" action="/category/new/">
            {% csrf_token %}
            <input type="text" class="span8" placeholder="New role">
            <button type="submit" class="btn">Add</button>
            </form>            
            {% for job in Roles %}
            <h5><a href="/role/{{ job.id }}/">{{ job.name }}<a></h5>
            {% endfor %}                            
        </div>
    </div>
{% endblock %}

{% block col1 %}
    <table>
        {% for course in Courses %}
        {% if forloop.first %}    
        <tr>
            <th><h2>{{ role.name }}</h2></th>
            {% for employee in Employees %}
            <th scope="col"><div class="vertical-text"><div class="vertical-text__inner"><a title="{{ employee.name }}" href="/admin/world/employee/{{ employee.id }}/">{{ employee.name }}</a></div></div></th>
            {% endfor %}
        </tr>
        {% endif %}    
        <tr>
            <th scope="row"><a href="/admin/world/course/{{ course.id }}/">{{ course.name }}</a></th>
            {% for employee in Employees %}
                {% if course.code in employee.completed %}
                <td><a href="/admin/world/course/{{ course.id }}/"><i class="icon-certificate"></i></a></td> 
                {% else %}
                    {% if course.code in employee.failed %}
                    <td><a href="/admin/world/course/{{ course.id }}/"><i class="icon-warning-sign"></i></a></td> 
                    {% else %}
                        {% if course.code in employee.cancelled %}
                        <td><a href="/admin/world/course/{{ course.id }}/"><i class="icon-trash"></i></a></td> 
                        {% else %}
                            {% if course.code in employee.booked %}
                            <td><a href="/course/{{ course.id }}/{{ employee.id }}/record"><i class="icon-time"></i></a></td> 
                            {% else %}
                                {% if course.code in employee.rejected %}
                                <td><a href="/admin/world/course/{{ course.id }}/"><i class="icon-thumbs-down"></i></a></td> 
                                {% else %}
                                    {% if course.code in employee.approved %}
                                    <td><a href="/course/{{ course.id }}/{{ employee.id }}/book"><i class="icon-thumbs-up"></i></a></td> 
                                    {% else %}
                                        {% if course.code in employee.courses %}
                                        <td><a href="/course/{{ course.id }}/{{ employee.id }}/approve"><i class="icon-question-sign"></i></a></td> 
                                        {% else %}
                                        <td><a href="/course/{{ course.id }}/{{ employee.id }}/add"><i></i>&nbsp;</a></td> 
                                        {% endif %}
                                    {% endif %}
                                {% endif %}                            
                            {% endif %}                            
                        {% endif %}                            
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}

