{% extends "world/grid.html" %}

{% block title %}Matrix Grid for {{ role.name }}{% endblock %}

{% block sidebar %}
    <div class="span3">
    <ul class="nav nav-list">
        <li class="nav-header">Roles</li>
        {% for role in Roles %}
        {% if forloop.first %}    
        <li><a class="active" href="/role/{{ role.id }}/">{{ role.name }}</a></li>
        {% else %}
        <li><a href="/role/{{ role.id }}/">{{ role.name }}</a></li>
        {% endif %}
        {% endfor %}                            
    </ul>
    </div>
{% endblock %}

{% block content %}
    <div class='span9'>
    <table>
        {% for course in Courses %}
        {% if forloop.first %}    
        <tr>
            <th><h2>{{ role.name }}</h2></th>
            {% for employee in Employees %}
            <th scope="col"><div class="vertical-text"><div class="vertical-text__inner"><a title="{{ employee.name }}" href="/admin/world/employee/{{ employee.id }}/">{{ employee.name }}</a></div></div></th>
            {% endfor %}
        </tr>
        {% endif %}    
        
        <!-- Main grid body -->
        <tr>
            <th scope="row"><a href="/admin/world/course/{{ course.id }}/">{{ course.name }}</a></th>
            {% for employee in Employees %}
                {% block grid %}
                {% if course.code in employee.completed %}
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle completed" title="{{employee.name}} ({{ course.name }})" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-trophy"></i></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left"> 
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=view"><i class="fa fa-trophy pull-right"></i>View</a></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=print"><i class="fa fa-print pull-right"></i>Print</a></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=visit"><i class="fa fa-group pull-right"></i>Interview</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=completed"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                        </ul>
                    </div>
                </td> 
                {% else %}
                    {% if course.code in employee.failed %}
                    <td>
                        <div class="dropdown">
                            <a class="dropdown-toggle rejected" title="{{employee.name}} ({{ course.name }})" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-warning"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=visit"><i class="fa fa-group pull-right"></i>Interview</a></li>
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=book"><i class="fa fa-calendar pull-right"></i>Rebook</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=fail"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                            </ul>
                        </div>
                    </td> 
                    {% else %}
                        {% if course.code in employee.cancelled %}
                        <td>
                            <div class="dropdown">
                                <a class="dropdown-toggle rejected" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-trash-o"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=add"><i class="fa fa-envelope-o pull-right"></i>Add Request</a></li>
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=approve"><i class="fa fa-thumbs-up pull-right"></i>Approve</a></li>
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=reject"><i class="fa fa-thumbs-down pull-right"></i>Reject</a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=booked"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                </ul>
                            </div>                        
                        </td>
                        {% else %}
                            {% if course.code in employee.booked %}
                            <td>
                                <div class="dropdown">
                                    <a class="dropdown-toggle approved" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-clock-o"></i></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=record&status=completed"><i class="fa fa-trophy pull-right"></i>Completed</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=record&status=failed"><i class="fa fa-warning pull-right"></i>Failed</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=record&status=absent"><i class="fa fa-user pull-right"></i>Absent</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=book"><i class="fa fa-calendar pull-right"></i>Rebook</a></li>
                                        <li class="divider"></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=booked"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                        <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                                    </ul>
                                </div>
                            </td> 
                            {% else %}
                                {% if course.code in employee.rejected %}
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle rejected" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-thumbs-down"></i></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=approve"><i class="fa fa-thumbs-up pull-right"></i>Approve</a></li>
                                            <li class="divider"></li>
                                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=rejected"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                            <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                                        </ul>
                                    </div>
                                </td> 
                                {% else %}
                                    {% if course.code in employee.approved %}
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle approved" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-thumbs-up"></i></a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=book"><i class="fa fa-clock-o pull-right"></i>Book</a></li>
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=reject"><i class="fa fa-thumbs-down pull-right"></i>Reject</a></li>
                                                <li class="divider"></li>
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=approved"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                                <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                                            </ul>
                                        </div>
                                    </td> 
                                    {% else %}
                                        {% if course.code in employee.courses %}
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="fa fa-envelope-o"></i></a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=approve"><i class="fa fa-thumbs-up pull-right"></i>Approve</a></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=reject"><i class="fa fa-thumbs-down pull-right"></i>Reject</a></li>
                                                    <li class="divider"></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=undo&status=add"><i class="fa fa-hand-o-left pull-right"></i>Undo</a></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=cancel"><i class="fa fa-trash-o pull-right"></i>Cancel</a></li>
                                                </ul>
                                            </div>
                                        </td> 
                                        {% else %}
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" title="{{employee.name}} ({{ course.name }})" data-toggle="dropdown" href="#"><i class="icon-gap"></i>&nbsp;</a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="text-align:left">
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/add/{{ employee.id }}"><i class="fa fa-envelope-o pull-right"></i>Add Request</a></li>
                                                    <li class="divider"></li>
                                                    <li><a tabindex="-1" href="/course/{{ course.id }}/employee/{{ employee.id }}/?action=comment"><i class="fa fa-comment-o pull-right"></i>Comment</a></li>
                                                </ul>
                                            </div>
                                        </td> 
                                        {% endif %}
                                    {% endif %}
                                {% endif %}                            
                            {% endif %}                            
                        {% endif %}                            
                    {% endif %}
                {% endif %}
                {% endblock %}
            {% endfor %}
        </tr>
        <!-- Main grid body -->
        {% endfor %}
    </table>
    </div>
{% endblock %}
