{% extends "world/base.html" %}

{% block extrastyle %}
<style type="text/css">       
body {
    padding-top: 5em;  // 60px
    padding-bottom: 4em;  // 40px
}

.sidebar-nav {
    padding: 1.5em 0; // 9px
}


.calendar { width: 100%; font-size: 0.75em;/*12*/ line-height: 1.25em;/*15*/ border-collapse: collapse; border-spacing: 0; }

.calendar th { text-align: left; }
.calendar th span { display: none; }
.calendar tr { display: block; }
.calendar td,
.calendar th { display: none; }
.calendar .day { margin: 1em 0 .5em 0; font-weight: bold; }
.calendar .events { display: block; }
.calendar ul { display: block; list-style: none; margin: 0 1.25em 0 0;/*15*/ padding: 0; }
.calendar li { display: block; position: relative; margin: 0; padding: 0; height: 1.25em;/*15*/ }
.calendar li a { display: block; position: absolute; left: 0; right: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  }

.calendar tr td:nth-of-type(1n) .day:before { content: 'Monday '; }
.calendar tr td:nth-of-type(2n) .day:before { content: 'Tuesday '; }
.calendar tr td:nth-of-type(3n) .day:before { content: 'Wednesday '; }
.calendar tr td:nth-of-type(4n) .day:before { content: 'Thursday '; }
.calendar tr td:nth-of-type(5n) .day:before { content: 'Friday '; }
.calendar tr td:nth-of-type(6n) .day:before { content: 'Saturday '; }
.calendar tr td:nth-of-type(7n) .day:before { content: 'Sunday '; }

.calendar .prev-month, .calendar .next-month { display: none; }
.current { color: red; }

@media only screen and (min-width: 30em) { /*480*/
    .calendar tr { display: table-row; }
    .calendar th, .calendar td { display: table-cell !important; margin: 0; width: 14.2857%; padding: 0.4166em;/*10*/ border: 1px solid #babcbf; vertical-align: top; }
    .calendar .prev-month .day,
    .calendar .next-month .day { color: #bbb; }
    .calendar td .day { display: block; float: right; margin: 0; font-weight: normal; }
    .calendar td .day:before { display: none; }
    .calendar td .suffix { display: none; }
}

@media only screen and (min-width: 40em) { /*640*/
    /* show full days (e.g. "Mon" to "Monday") */
    .calendar th span { display: inline; }

}

@media only screen and (min-width: 40em) and (min-height: 20em) {

    .calendar td { height: 2.5em;/*30*/ }

}

@media only screen and (min-width: 40em) and (min-height: 40em) {

.calendar td { height: 6.25em;/*75*/ }

}
</style>
{% endblock %}

{% block sidebar %}
    <!-- div class="span3">
        <div class="well">
             <ul class="nav nav-list">
                <li class="nav-header">Reminders</li>
                {% for reminder in reminders %}
                {% if forloop.first %}    
                <li><a class="active" href="/admin/world/event/{{ reminder.id }}/">{{ reminder.title }}</a></li>
                {% else %}
                <li><a href="/admin/world/event/{{ reminder.id }}/">{{ reminder.title }}</a></li>
                {% endif %}
                {% endfor %}                            
            </ul>
        </div>
    </div-->
{% endblock %}

{% block content %}
<div class="span9">
    <a href= '{% url world.views.month year month "prev" %}'>&lt;&lt; Prev</a>
    <a href= '{% url world.views.month year month "next" %}'>Next &gt;&gt;</a>

    <h4>{{ mname }} {{ year }}</h4>

    <div class="month">
        <table class="calendar">

        <tr>
            <th class="empty">Mon</th>
            <th class="empty">Tue</th>
            <th class="empty">Wed</th>
            <th class="empty">Thu</th>
            <th class="empty">Fri</th>
            <th class="empty">Sat</th>
            <th class="empty">Sun</th>
        </tr>

        {% for week in month_days %}
            <tr>
            {% for day, entries, current in week %}

                <!-- TD style: empty | day | current; onClick handler and highlight  -->
                <td class= {% if day == 0 %}"empty"{% endif %}
                {% if day != 0 and not current %}"day"{% endif %}
                {% if day != 0 and current %}"current"{% endif %}
                {% if day != 0 %}
                    onClick="parent.location='{% url world.views.day year month day %}'"
                    onMouseOver="this.bgColor='#eeeeee';"
                    onMouseOut="this.bgColor='white';"
                {% endif %} >

                <!-- Day number and event snippets -->
                {% if day != 0 %}
                    <ul>{{ day }}</ul>
                    {% for event in entries %}
                    <li><a href="/admin/world/event/{{ event.id }}">{{ event.title|safe }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>

        <div class="clear"></div>
    </div>
</div>
{% endblock %}
