{% extends "world/base.html" %}

{% block content %}
{% for year, months in years %}
    <div class="span4">
    <h4>{{ year }}</h4>
    {% for month in months %}
        <div class=
        {% if month.current %}"current"{% endif %}
        {% if not month.current %}"month"{% endif %} >
            {% if month.entry %}<b>{% endif %}
            <a href="{% url world.views.month year month.n %}">{{ month.name }}</a>
            {% if month.entry %}</b>{% endif %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% endblock %}
