{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
<style>
#header {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  *background-color: #040404;
}
#header h1 {
  color: #999;
}
</style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/">{% trans 'skillBase Administration' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
