<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}skillBase - Learning Management {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="hollerith">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" rel="stylesheet" >

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extrastyle %}
    <style type="text/css">
        
    body {
        padding-top: 5em;  // 60px
        padding-bottom: 4em;  // 40px
    }

    .sidebar-nav {
        padding: 1.5em 0; // 9px
    }
    
    </style>
    {% endblock %}

    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">

    <script src="/static/js/jquery.js"></script>

    {% block extrascript %}
    <script>
        $(document).ready(function () {
           
            var refreshId = setInterval( function() 
            {
                $.ajax({
                    type : 'GET',
                    url  : '#',
                    cache: false,
                    success: function(response) {
                        $("#message").html(response);
                        return false;
                    }
                })

            }, 5000);

            $(".part").click(function (e){
                e.preventDefault();
                $('ul.nav > li').removeClass('active');
                $('ul.nav > li.i').removeClass('icon-white');
                $(this).parent().addClass('active'); 

                var url = this.href
                $.ajax({
                    type : 'GET',
                    url  : url,
                    cache: false,
                    success: function(response) {
                        $("#results").html(response);
                        return false;
                    }
                })
                return false;
            });
        });

        function pageload (a) {
            var url = a.href
            $.ajax({
                type : 'GET',
                url  : url,
                cache: false,
                success: function(response) {
                    $("#results").html(response);
                    return false;
                }
            })
            return false;    
        }
    </script>
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/admin">skillBase - Learning Management</a>
            <div class="nav-collapse collapse">
                <form class="navbar-form pull-left" method="get" action="search">
                {% csrf_token %}
                <input type="text" class="span2" name="s" placeholder="Search">
                <button type="submit" class="btn btn-inverse"><i class="icon-search"></i>&nbsp;Search</button>
                </form>                
                <p class="navbar-text pull-right">
                    {% if user.username %}
                    Welcome, {{ user.username }}&nbsp;
                    <a href="/accounts/logout" class="btn btn-primary">Log out</a>
                    {% else %}
                    <a href="/accounts/login" class="btn btn-primary">Log in</a>
                    {% endif %}
                </p>                
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/year">Events</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/about">About</a></li>
                <ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        {% block sidebar %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    <footer><p>&copy Anodyne-Solutions Ltd. 2013</p></footer>
</div>
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-scrollspy.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap-button.js"></script>
<script src="/static/js/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap-carousel.js"></script>
<script src="/static/js/bootstrap-typehead.js"></script>
</body>
</html>
